* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: white;
  background-image: url(/assets/images/background.jpg);
  background-size: 100% 100%;
  font-family: "Alegreya Sans", sans-serif;
}
h1 {
  font-size: 75px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 30px;
}
h4 {
  margin: 20px 20px;
}
.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.row {
  margin: 20px 0px 20px 0px;
}
form {
  margin: auto;
  display: none;
}

#gameStats {
  margin: auto;
  display: none;
}

#restartBtn {
  color: white;
  border-radius: 100%;
  font-size: xx-large;
  border-style: none;
  background-color: rgb(182, 52, 143);
  padding: 30px 50px;
  margin: auto;
}
#startBtn {
  color: white;
  border-radius: 100%;
  font-size: xx-large;
  border-style: none;
  background-color: rgb(137, 59, 194);
  padding: 30px 50px;
  margin: auto;
}
#submitBtn {
  color: white;
  border-radius: 100%;
  font-size: xx-large;
  border-style: none;
  background-color: rgb(92, 165, 233);
  padding: 30px 50px;
  margin: auto;
}
