* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.row {
  margin: 20px 0px 20px 0px;
}
form {
  margin: auto;
  display: none;
}
p {
  margin: 20px 20px 20px 20px;
}
#gameStats {
  margin: auto;
  display: none;
}
#restartBtn {
  padding: 20px 40px 20px 40px;
  margin: auto;
  display: none;
}
#startBtn {
  padding: 20px 40px 20px 40px;
  margin: auto;
}
#submitBtn {
  padding: 20px 40px 20px 40px;
  margin: auto;
}
